<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <title>Document</title>
  </head>

  <body>
    <div class="bg-[#080708] p-12 text-white w-screen min-h-screen">
      <a class=" hover:text-[#9381ff] text-white font-medium" href="/"><i class="ri-arrow-go-back-line"></i>  Go to Home </a>
      <h1 class="text-3xl  tracking-tight mt-10"> <%= taskname  %> -</h1>
      <p class="text-lg mt-5"><%= data  %></p>
      
    </div>
  </body>
</html>

